$body-bg: #F5F5F5;
$font-family-base: "Inter Semi-Bold", sans-serif;

$primary: #00025B;
$secondary: #1D1D1B;
$success: #198754;
$danger: #7a110b;
$warning: #ffc107;
$info: #0dcaf0;
$light: #F5F5F5;
$dark: #212529;
