
.btn-signin {
    font-size: 14px;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    height: 40px;
    border: 1px solid var(--pgblue, $secondary);
}
.btn-registo {
    font-size: 14px;
    font-weight: bold;
    padding-right: 30px;
    padding-left: 30px;
    height: 40px;
    color: $light;
    background: var(--pgblue, $primary);
    border: 1px solid var(--pgblue, $primary);
}

.btn.header-menu-item {
    font-size: 14px;
    border-radius: 100px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 8px;
    height: 40px;
    color: $secondary;
}

.jumbo-header {
    font-size: 36.65px;
    text-transform: uppercase;
    color: $light;
    padding-top: 80px;
    font-weight: 600;
}

.jumbo-text{
    font-size: 22.65px;
    text-transform: uppercase;
    color: $light;
}

.jumbo-text-planos {
    font-size: 14px;
    color: $light;
    padding-left: 3rem;
}
.jumbo-logo-planos {
    padding-right: 3rem;
}
.jumbo-header-planos {
    font-size: 36.65px;
    text-transform: uppercase;
    text-align: center;
    color: $light;
    text-shadow: 4px 4px 6px $secondary;
    font-weight:900;
}
.jumbo-nota-planos {
    font-size: 10px;
    color: $light;
    text-align: right;
}

.btn-calltoaction {
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    padding-right: 30px;
    padding-left: 30px;
    background: $light;
    color: $primary;
    border: 1px solid var(--White, $light);
    border: 0px;
}

.home-card-text {
    font-size: 20.65px;
    color: var(--pgblack, $secondary);
    text-align: center;
    padding-top: 2rem;
    text-align: center;
}

.fundo-jumbo {
    width:100%;
    height: 511px;
    background-image: url("../dist/img/home-image1.png");
    background-color: $primary;
    background-repeat:no-repeat;
    background-size: cover;
}

.fundo-planos {
    width:100%;
    background-image: url("../dist/img/planos-image.png");
    background-color: $primary;
    background-repeat:no-repeat;
    background-size: cover;
}
.fundo-faqs {
    width:100%;
    background-image: url("../dist/img/faqs.png");
    background-color: $primary;
    background-repeat:no-repeat;
    height: 300px;
    align-content:space-around;
    background-position:center;
}

.footer {
    background-color: $primary;
}

.btn.header-menu-item.menu-item-footer {
    padding-right: 10px;
    padding-left: 10px;
    color: $light;
}
.btn.header-menu-item.menu-item-footer:active {
    color: $light;
    border: 1px solid $light;
}

.footer.py-3 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important
}

.titulo-preto {
    font-size: 36.65px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--pgblack, $secondary);
    padding: 0px 0 20px 0;
}

.titulo-azul {
    font-size: 36.65px;
    text-transform: uppercase;
    color: var(--pgblue, $primary);
    padding: 40px 0 20px 0;
}

.btn.blog-btn {
    font-size: 14px;
    line-height: 100%;
    padding: 9px;
    background: $light;
    width: 100%;
    height: 40px;
    border: 4px solid var(--pgblue, $primary);
    color: $primary;
}
.btn.blog-btn:hover {
    color: $primary;
    border: 3px solid var(--pgblue, $primary);
}
.btn.blog-btn:active {
    color: $primary;
    border: 3px solid var(--pgblue, $primary);
}

.newsletter {
    width:100%;
    background-image: url("../dist/img/barra_newsletter.png");
    background-color: $primary;
    background-repeat:no-repeat;
    background-size: cover;
    padding: 30px;    
}

h2.newsletter-title {
    font-size: 36.65px;
    font-weight: 600;
    text-transform: uppercase;
    color: $light;
}
.txt-politica {
    font-size: 12px;
    vertical-align: middle;
    color: var(--White, $light);
    padding: 5px;
}
.newsletter-txt {
    font-size: 16px;
    color: $light;
}
.btn-newsletter {
    font-size: 14px;
    font-weight: bold;
    padding-right: 30px;
    padding-left: 30px;
    background: $light;
    color: $primary;
    border: 0px;
    height: 40px;
}

.contacto {
    background: #004C991A;
    padding: 30px;
}

.btn-contacto {
    font-size: 14px;
    font-weight: bold;
    border-radius: 100px;
    padding-right: 50px;
    padding-left: 50px;
    height: 40px;
    color: $light;
    background: var(--pgblue, $primary);
    border: 1px solid var(--pgblack, $primary);
    width: 100%;
}

.contact-border-bottom {
    border-bottom: 0.5px solid var(--pgblue, $primary);
    border-width: 0.5px;
    //padding: 5px;
}

.contact-titulo {
    font-size: 14px;
    vertical-align: middle;
    color: var(--pgblue, $primary);
    margin-top:5px;
}
.contact-conteudo {
    font-size: 14px;
    vertical-align: middle;
    color: var(--pgblack, $secondary);
    padding: 5px 5px 5px 0;
}

.container-precos {
    background: linear-gradient(0deg, $primary 87%, $light 13%);
}

.titulo-quem-somos {
    font-size: 83.67px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--pgblue, $primary);
    text-align: center;
    padding-top: 6rem;
}

.titulo-contacto {
    font-size: 83.67px;
    text-transform: uppercase;
    color: var(--pgblue, $primary);
}

.sub-titulo-registo {
    font-size: 22.65px;
    color: var(--pgblue, $primary);
    padding-bottom: 1rem;
}

.blog-card-titulo {
    color: var(--pgblack, $secondary);
    padding-top: 10px;
    font-weight: 600;
}

.fundo-blog {
    width:100%;
    //border-radius: 0 0 25px 25px;
    background-image: url("../dist/img/blog.png");
    background-color: $primary;
    background-repeat:no-repeat;
    background-position:center;
    height: 300px;
    align-content:space-around;
}
.invalid-feedback-claro {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #fe0d00;
}

@import "bootstrap";
